
# Bank Account Verification

## Structure

`BankAccountVerification`

## Fields

| Name | Type | Tags | Description | Getter | Setter |
|  --- | --- | --- | --- | --- | --- |
| `deposit1InCents` | `?int` | Optional | - | getDeposit1InCents(): ?int | setDeposit1InCents(?int deposit1InCents): void |
| `deposit2InCents` | `?int` | Optional | - | getDeposit2InCents(): ?int | setDeposit2InCents(?int deposit2InCents): void |

## Example (as JSON)

```json
{
  "deposit_1_in_cents": 142,
  "deposit_2_in_cents": 132
}
```

